In [35]:
from __future__ import print_function
import pyball as pb
import pandas as pd
import matplotlib
from bs4 import BeautifulSoup
import mlbgame
import pprint
import sqlite3 as lite

In [36]:
file = "db/data/raw_data/Batting.csv"

In [37]:
batting_df = pd.read_csv(file)

In [38]:
batting_df.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0

In [39]:
batting_df = batting_df.rename(columns={
    "playerID": "Player",
    "yearID": "Year",
    "teamID": "Team",
    "G": "Games Played",
    "AB": "At Bats",
    "R": "Runs",
    "H": "Hits",
    "HR": "Homeruns",
    "RBI": "Runs Batted In",
    "SO": "Strike Outs"})

In [40]:
batting_df = batting_df.drop(columns=['stint','lgID','2B','3B','SB','CS','IBB','HBP','SH','SF','GIDP'])

In [41]:
batting_df.head()

,Player,Year,Team,Games Played,At Bats,Runs,Hits,Homeruns,Runs Batted In,BB,Strike Outs
0,abercda01,1871,TRO,1,4,0,0,0,0.0,0,0.0
1,addybo01,1871,RC1,25,118,30,32,0,13.0,4,0.0
2,allisar01,1871,CL1,29,137,28,40,0,19.0,2,5.0
3,allisdo01,1871,WS3,27,133,28,44,2,27.0,0,2.0
4,ansonca01,1871,RC1,25,120,29,39,0,16.0,2,1.0

In [43]:
batting_df.sort_values(by='Homeruns', ascending=False)

,Player,Year,Team,Games Played,At Bats,Runs,Hits,Homeruns,Runs Batted In,BB,Strike Outs
80768,bondsba01,2001,SFN,153,476,129,156,73,137.0,177,93.0
77405,mcgwima01,1998,SLN,155,509,130,152,70,147.0,162,155.0
77752,sosasa01,1998,CHN,159,643,134,198,66,158.0,73,171.0
78721,mcgwima01,1999,SLN,153,521,118,145,65,147.0,133,141.0
81786,sosasa01,2001,CHN,160,577,146,189,64,160.0,116,153.0
79069,sosasa01,1999,CHN,162,625,114,180,63,141.0,78,171.0
41676,marisro01,1961,NYA,161,590,132,159,61,142.0,94,67.0
22271,ruthba01,1927,NYA,151,540,158,192,60,164.0,137,89.0
19054,ruthba01,1921,NYA,152,540,177,204,59,171.0,145,81.0
104124,stantmi03,2017,MIA,159,597,123,168,59,132.0,85,163.0
87903,howarry01,2006,PHI,159,581,104,182,58,149.0,108,181.0
27767,greenha01,1938,DET,155,556,144,175,58,146.0,119,92.0
24654,foxxji01,1932,PHA,154,585,151,213,58,169.0,116,96.0
83012,rodrial01,2002,TEX,162,624,125,187,57,142.0,87,122.0
81095,gonzalu01,2001,ARI,162,609,128,198,57,142.0,100,83.0
75835,griffke02,1997,SEA,157,608,125,185,56,147.0,76,121.0
77079,griffke02,1998,SEA,161,633,120,180,56,146.0,76,121.0
23980,wilsoha01,1930,CHN,155,585,146,208,56,191.0,105,84.0
18534,ruthba01,1920,NYA,142,457,158,172,54,137.0,150,80.0
34154,kinerra01,1949,PIT,152,549,116,170,54,127.0,117,61.0
22801,ruthba01,1928,NYA,154,536,163,173,54,142.0,137,87.0
88247,ortizda01,2006,BOS,151,558,115,160,54,137.0,119,117.0
89784,rodrial01,2007,NYA,158,583,143,183,54,156.0,95,120.0
41674,mantlmi01,1961,NYA,153,514,132,163,54,128.0,126,112.0
92931,bautijo02,2010,TOR,161,569,109,148,54,124.0,100,116.0
97328,davisch02,2013,BAL,160,584,103,167,53,138.0,72,199.0
103526,judgeaa01,2017,NYA,155,542,128,154,52,114.0,127,208.0
44657,mayswi01,1965,SFN,157,558,118,177,52,112.0,76,71.0
54762,fostege01,1977,CIN,158,615,124,197,52,149.0,61,107.0
81689,rodrial01,2001,TEX,162,632,133,201,52,135.0,75,131.0
...,...,...,...,...,...,...,...,...,...,...,...
42273,hobbigl01,1962,CHN,42,49,4,6,0,0.0,3,24.0
42269,hillmda01,1962,NYN,13,1,0,0,0,0.0,0,1.0
42326,kolbga01,1962,SLN,6,14,1,5,0,0.0,1,3.0
42268,hillmda01,1962,CIN,2,0,0,0,0,0.0,0,0.0
42261,herrnjo01,1962,PHI,6,5,0,1,0,1.0,1,3.0
42259,henrybi01,1962,CIN,40,3,0,1,0,1.0,0,2.0
42256,heistal01,1962,HOU,27,72,4,16,0,3.0,3,9.0
42255,hawkiwy01,1962,CLE,3,0,1,0,0,1.0,1,0.0
42254,hartmjc01,1962,HOU,51,148,11,33,0,5.0,4,16.0
42253,hartmbo01,1962,CLE,8,7,0,0,0,0.0,1,4.0
42286,jacksal01,1962,NYN,44,73,5,5,0,2.0,2,27.0
42287,jacksla01,1962,SLN,36,89,10,15,0,4.0,7,20.0
42291,jenkija01,1962,WS2,3,4,0,0,0,0.0,0,4.0
42294,johnsda01,1962,CIN,2,4,0,0,0,0.0,2,0.0
42324,klinero01,1962,DET,36,16,1,2,0,0.0,0,5.0
42323,klimclo01,1962,ML1,8,8,0,0,0,0.0,0,2.0
42321,kirkped01,1962,LAA,3,6,0,0,0,0.0,0,2.0
42314,kenwodi01,1962,CHA,3,4,0,0,0,0.0,0,3.0
42312,kemmeru01,1962,HOU,36,9,1,3,0,0.0,1,2.0
42311,kemmeru01,1962,CHA,20,2,1,1,0,0.0,1,1.0
42310,keegaed01,1962,PHI,5,0,0,0,0,0.0,0,0.0
42305,joycemi01,1962,CHA,25,7,1,3,0,0.0,0,2.0
42304,jonessh02,1962,NYN,8,7,0,3,0,1.0,0,2.0
42301,jonesha01,1962,CLE,5,16,2,5,0,1.0,0,4.0
42300,jonesgo01,1962,KC1,21,5,0,0,0,1.0,0,0.0
42299,jonesde02,1962,CHA,18,28,3,9,0,8.0,4,6.0
42297,johnske02,1962,HOU,33,52,1,4,0,3.0,1,24.0
42296,johnsde01,1962,KC1,17,19,1,2,0,0.0,3,8.0
42295,johnsda01,1962,BAL,6,22,0,4,0,1.0,0,4.0
52930,fingero01,1975,OAK,76,1,0,0,0,0.0,0,0.0

In [49]:
homeruns_df = batting_df.groupby('Year')['Homeruns']

In [51]:
homeruns_df.head()

0          0
1          0
2          0
3          2
4          0
115        0
116        0
117        0
118        0
119        0
272        0
273        1
274        0
275        0
276        0
397        0
398        0
399        0
400        0
401        0
520        0
521        0
522        0
523        0
524        1
738        0
739        0
740        0
741        0
742        2
          ..
97019      0
97020      0
97021      2
97022      0
97023      4
98428      0
98429      1
98430     36
98431      0
98432      0
99863      0
99864      0
99865     30
99866      0
99867      6
101349     0
101350     0
101351    25
101352     0
101353     0
102832     0
102833    33
102834     0
102835     0
102836     5
104326    22
104327    26
104328    10
104329     0
104330     0
Name: Homeruns, Length: 740, dtype: int64